/* HEADER */
@font-face {
  font-family: juego-tronos;
  src: url(../fonts/gt.ttf)
}
.header-hide{
  display: none;
}
.header{
  height: 90vh;
  opacity:0.75;
  background-image: url(../img/beer1.jpg);
  background-repeat: no-repeat;
  background-position: top center;

  background-size: cover;
}

.header > h1 {
  position: absolute;
  bottom: 60vh;
  left: 60vw;
  font-weight: 100;
}

.header > h1 > span {
  display: block;
  font-weight: 700;
  font-family: juego-tronos;
}

.header > .tagline {
  position: absolute;
  top: 60vh;
  left: 60vw;
}