/* HEADER */
@font-face {
  font-family: beer-font;
  src: url(../fonts/Bira.ttf)
}
@font-face {
  font-family: jackport;
  src: url(../fonts/JACKPORTCOLLEGENCV.ttf)
}
.header-hide{
  display: none;
}
.header{
  height: 30vw;
  margin-top: 5vw;
position: relative;
  opacity:0.65;
  /* background-image: url(../img/beer1.jpg); */
  /* background-repeat: no-repeat;
  background-position: top center;

  background-size: cover; */
}

.back-header.picture-container{
  height: 30vw;
}

.header > h2 {
  font-size:2.5em;
  font-weight: 700;
  text-align: center;
  color: darkgoldenrod;
}
.header > h1 {
  position: absolute;
  bottom: 60vh;
  left: 60vw;
  /* font-weight: 200; */
  font-size:2.5em;
/* } */

/* .header > h1 >span  { */
  display: block;
  color: white;
  font-weight: 700;
  font-family: beer-font;
}

.header > .tagline {
  position: absolute;
  top: 60vh;
  left: 60vw;
}

.back-header.picture-container{
  position: absolute;
  width: 100% !important;
  height: 30vw !important;
  min-width: 100%;
 min-height: 30vw;
 margin-top: 10vw ;
 min-width: 100% !important;
}
picture{
  width: 100% !important;
  min-width: 100% !important;
  
}

@media all and (max-width: 1000px) {
  .header > h2{

    font-size: 1.5em;
  }

 #back-header{
     margin-top:7vw; 
     height: 25vw;
    /* margin-top: 7vw !important; */
  }

  }

  @media all and (max-width: 768px) {
    /* #back-header{
      margin-top:10vw !important; 
   } */
  }

@media all and (max-width: 480px) {
  .header > h2{

    visibility: hidden;
  }

  } 

  

  @media all and (max-width: 320px) {
    .header > h2{
      visibility: hidden;
    
    }
    }